.header{
    background-color: #ffffff;
    .headerTop{
        height: 3.75rem;
        line-height: 3.75rem;
        padding: 0 20px;
    }
    .breadcrumb{
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 20px;
        border-top: 1px solid #d5d94e;
        .breadcrumbTitle{
            text-align: center;
            &:after{
                position: absolute;
                content: '';
                left: 4.749rem;
                top: 2.48rem;
                border-top: 9px solid #ffffff;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        .weather {
            text-align: right;
        }
        .date {
            margin-right: .875rem;
            font-size: 1.125rem;
        }
    }
}